.mat-icon {
  margin-top: -25px !important;
  display: flex !important;
  // margin-left: 192px !important;
  margin-left: auto !important;
  // cursor: pointer;
}

mat-icon{
  cursor: pointer;
}


.example-full-width{
  width: 300px;
}
