<mat-toolbar class="w-100" id="lnavbar">
  <span class="logo" (click)="clickOnMenu('logo')">
    <img src="../../../../../../assets/images/logo.png" alt="" />
  </span>
  <span class="spacer"></span>
  <a (click)="clickOnMenu('about')">
    <span>About</span>
  </a>
  <a (click)="clickOnMenu('process')">
    <span>Our Process</span>
  </a>
  <a (click)="clickOnMenu('services')">
    <span>Services</span>
  </a>
  <!-- <a (click)="clickOnMenu('team')">
    <span>Meet our team</span>
  </a> -->
  <a (click)="clickOnMenu('contact')">
    <span>Contact</span>
  </a>
</mat-toolbar>
