<div>
  <div class="col">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon class="material-icons">local_parking</mat-icon>
        </div>
        <h4 class="card-title pull-left">Print label ordering</h4>
      </div>
      <hr />
      <div class="card-body card-body-height">
        <ng-container *ngIf="labelPricesList.length">
          <div
            class="d-flex justifu-content-around align-items-center gap-1 mb-4"
          >
            <input
              class="form-control"
              type="file"
              #formFile
              (change)="checkFile($event)"
            />
          </div>

          <div>
            <div class="row">
              <div
                class="p-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
                *ngFor="let label of labelPricesList; let i = index"
              >
                <div
                  [ngClass]="i === selectedWeightIndex ? 'selected' : ''"
                  class="card p-4 text-center ccaad"
                  (click)="selecteWeight(i)"
                >
                  <div class="card-body">
                    <p class="card-title display-6">
                      {{ label.weight_from }} - {{ label.weight_to }}kg
                    </p>
                    <h4>Price : {{ label.price }}£</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="row">
              <div class="col-3 my-auto">
                <app-label [label]="'Number of order in csv : '"></app-label>
              </div>
              <div class="col">
                <app-input
                  type="number"
                  [value]="numberOfOrder"
                  (callBack)="numberOfOrder = $event"
                ></app-input>
              </div>
            </div>
          </div>

          <div
            class="d-flex justify-content-end mb-4"
            *ngIf="!isPaypalFormaValidated"
          >
            <a class="btn btn-success" (click)="placeOrder()">Place order</a>
          </div>

          <ngx-paypal [config]="payPalConfig" *ngIf="isPaypalFormaValidated">
          </ngx-paypal>
        </ng-container>
      </div>
    </div>
  </div>
</div>
