<section id="services" class="mb-100 pt-50">
  <div class="container-fluid pb-50" style="background-color: #f7f7f7">
    <div class="container d-flex flex-column pt-50 justify-content-center w-50">
      <p class="text-uppercase display-6 text-center" style="font-weight: 600">
        Our services
      </p>
      <p>
        At B2B Direct Limited, we are committed to providing our clients with
        exceptional customer service and support. Our experienced logistics
        professionals are dedicated to ensuring that your supply chain runs
        smoothly and efficiently, so you can achieve your business goals.
      </p>
    </div>
    <div class="pb-50">
      <div class="ccccontainer">
        <div class="parent">
          <div class="card card1-img">
            <div class="content-box">
              <!-- <h1 class="card-title">Card Title</h1> -->
              <p class="card-content">
                Our pick and pack services are tailored to meet your unique
                business needs. We can customize our process to accommodate a
                wide range of products, packaging requirements, and shipping
                methods. We'll ensure that your orders are fulfilled accurately
                and efficiently, so you can focus on growing your business.
              </p>
              <!-- <span class="see-more">See More</span> -->
              <!-- <span class="see-more">See LESS</span> -->
            </div>
            <div class="date-box">
              <span class="month">Pick &</span>
              <span class="date">pack</span>
            </div>
          </div>
        </div>

        <div class="parent card2">
          <div class="card card2-img">
            <div class="content-box">
              <!-- <h1 class="card-title">Card Title</h1> -->
              <p class="card-content">
                Our state-of-the-art warehouses are equipped with advanced
                security measures, climate control, and fire suppression systems
                to ensure that your products are stored in optimal conditions.
                We offer both short-term and long-term storage solutions, so you
                can scale your operations as needed
              </p>
              <!-- <span class="see-more">See More</span> -->
            </div>
            <div class="date-box">
              <span class="month">Warehouse </span>
              <span class="date">Storage</span>
            </div>
          </div>
        </div>

        <div class="parent card3">
          <div class="card card3-img">
            <div class="content-box">
              <!-- <h1 class="card-title">Card Title</h1> -->
              <p class="card-content">
                Unauthorized sellers on online marketplaces can harm your brand
                reputation and reduce customer trust. Our product listing
                removal services can help protect your brand by identifying and
                removing unauthorized sellers from online marketplaces.
              </p>
              <!-- <span class="see-more">See More</span> -->
            </div>
            <div class="date-box">
              <span class="month">Product </span>
              <span class="date">Listing Removal</span>
            </div>
          </div>
        </div>

        <div class="parent card4">
          <div class="card card4-img">
            <div class="content-box">
              <!-- <h1 class="card-title">Card Title</h1> -->
              <p class="card-content">
                Our 3PL services are designed to streamline your supply chain
                and improve your operational efficiency. We can handle all
                aspects of your logistics needs, from receiving and storing
                inventory to packing and shipping orders. With our advanced
                technology and experienced team, you can be confident that your
                products will be handled with the utmost care and delivered to
                your customers on time
              </p>
              <!-- <span class="see-more">See More</span> -->
            </div>
            <div class="date-box">
              <span class="month">Third-party</span>
              <span class="date">Logistics</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
