.sidebar {
  max-width: 100%;
  width: 70%;
  height: 100vh;
  background-color: black;
  // background-image: linear-gradient(45deg, #f7f7f7 25%, #000000 25%, #000000 50%, #f7f7f7 50%, #f7f7f7 75%, #000000 75%, #000000 10%);
  // background-size: 56.57px 56.57px;
}

.form-control {
  width: 130%;
}
