.sidebar {
    max-width: 100%;
    width: 40%;
    height: 100vh;
    background-color: black;
    // overflow: hidden;
    // background-image: linear-gradient(45deg, #fcfcfc 25%, #000000 25%, #000000 50%, #fcfcfc 50%, #fcfcfc 75%, #000000 75%, #000000 100%);
    // background-size: 98.99px 98.99px;
}