<mat-form-field [ngStyle]="{ width: inputWidth }" appearance="outline">
  <mat-label *ngIf="!!placeholder">{{ placeholder }}</mat-label>
  <mat-select
    matNativeControl
    [multiple]="isMultiple"
    [id]="id!"
    [disabled]="disabled"
    [(ngModel)]="selectedValue"
    (keydown)="keyPress($event)"
    (selectionChange)="options?.length ? changed() : ''"
  >
    <ng-container *ngIf="options?.length">
      <ng-container *ngIf="!isGrouped">
        <mat-option
          *ngFor="let item of options"
          [value]="item[primaryValue] ? item[primaryValue] : item"
          [disabled]="cantSelect"
          >{{ displayValue ? item[displayValue] : item }}</mat-option
        >
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!options?.length">
      <mat-option>{{ "No data available" }} </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
