<div class="p-4 mx-4">
  <h1>Privacy Policy</h1>
  <p>
    B2B Direct Limited (“B2B Direct”) respects your privacy and is committed to
    protecting your personal data. This privacy policy (“Policy”) describes how
    we collect, use, and disclose personal data in connection with our 3PL
    services, including pick and pack, warehouse storage, and product listing
    removal from marketplaces for brand protection, and our website located at
    <a href="b2bdirect.co.uk"> www.b2bdirect.co.uk</a> (the “Website”).
  </p>

  <h2>Data We Collect</h2>
  <p>
    We may collect personal data from you in the course of providing our
    services or through your use of the Website. The types of personal data we
    may collect include:
  </p>

  <p>
    Contact information, such as your name, email address, and phone number.
    Shipping information, such as your address and shipping preferences. Payment
    information, such as your credit card number and billing address. Product
    information, such as the products you store in our warehouse or request us
    to remove from marketplaces.
  </p>

  <p>
    Communications, such as any messages you send to us or any feedback you
    provide.
  </p>

  <h2>Use of Your Data</h2>
  <p>We may use your personal data for the following purposes:</p>
  <p>
    To provide our services, including pick and pack, warehouse storage, and
    product listing removal from marketplaces for brand protection. To
    communicate with you about our services, including to provide you with
    updates or information about your account.
  </p>
  <p>
    To process your payments and to collect any amounts you owe us. To improve
    our services and to better understand your needs and interests. To comply
    with any legal obligations we may have.
  </p>

  <h2>Sharing of Your Data</h2>
  <p>
    We may share your personal data with third-party service providers who
    assist us in providing our services. We may also share your personal data
    with government authorities or law enforcement officials if we believe in
    good faith that such disclosure is necessary to comply with any applicable
    law or regulation.
  </p>
  <h2>Security of Your Data</h2>
  <p>
    We take the security of your personal data seriously and have implemented
    appropriate technical and organizational measures to protect your personal
    data against unauthorized access, disclosure, alteration, or destruction.
  </p>
  <h2>Retention of Your Data</h2>
  <p>
    We will retain your personal data for as long as necessary to fulfill the
    purposes for which it was collected, or as required by applicable law.
  </p>
  <h2>Your Rights</h2>
  <p>
    You have certain rights with respect to your personal data, including the
    right to access, correct, or delete your personal data. You may also have
    the right to object to or restrict the processing of your personal data. To
    exercise your rights, please contact us using the information provided
    below.
  </p>
  <h2>Changes to this Policy</h2>
  <p>
    We may update this Policy from time to time by posting a new version on our
    Website. We encourage you to review this Policy periodically for any changes
  </p>
</div>
