<img class="demo-bg" src="assets/images/6.jpg" alt="" />
<div
  class="container height-100 d-flex justify-content-center align-items-center"
>
  <div class="position-relative">
    <div class="align-items-start">
      <button mat-mini-fab color="primary" [routerLink]="'/home'">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="card p-4 text-center">
      <img class="logo" src="assets/images/logo.png" alt="" />

      <h6>
        Please enter the one time password <br />
        to verify your account
      </h6>
      <div>
        <span>A code has been sent to</span>&nbsp; <small>{{ demail }}</small>
      </div>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="first"
          maxlength="1"
          autofocus
          (keyup)="gotoNext('second', $event)"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="second"
          maxlength="1"
          (keyup)="gotoNext('third', $event, 'first')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="third"
          maxlength="1"
          (keyup)="gotoNext('fourth', $event, 'second')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fourth"
          maxlength="1"
          (keyup)="gotoNext('fifth', $event, 'third')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fifth"
          maxlength="1"
          (keyup)="gotoNext('sixth', $event, 'fourth')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="sixth"
          maxlength="1"
          (keyup)="gotoNext('sixth', $event, 'fifth')"
        />
      </div>
      <div class="mt-4">
        <button (click)="OTPInput()" class="btn btn-primary px-4 validate">
          Validate
        </button>
      </div>
    </div>
  </div>
</div>
