<div
  class="container height-100 d-flex justify-content-center align-items-center"
>
  <div class="position-relative">
    <div class="align-items-start">
      <button mat-mini-fab color="primary" [routerLink]="'/home'">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="card p-2 text-center">
      <h6>
        Please enter the one time password <br />
        to verify your account
      </h6>
      <div>
        <span>A code has been sent to</span>&nbsp; <small>{{ demail }}</small>
      </div>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="first"
          maxlength="1"
          autofocus
          (keypress)="gotoNext('second')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="second"
          maxlength="1"
          (keypress)="gotoNext('third')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="third"
          maxlength="1"
          (keypress)="gotoNext('fourth')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fourth"
          maxlength="1"
          (keypress)="gotoNext('fifth')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fifth"
          maxlength="1"
          (keypress)="gotoNext('sixth')"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="sixth"
          maxlength="1"
        />
      </div>
      <div class="mt-4">
        <button (click)="OTPInput()" class="btn btn-primary px-4 validate">
          Validate
        </button>
      </div>
    </div>
  </div>
</div>
