<!-- <div class="w-100"> -->
<div class="header">
  <app-lnavbar (callback)="gotoView($event)"></app-lnavbar>
</div>

<div style="padding-top: 100px" class="h-100 w-100">
  <app-lmain></app-lmain>
  <app-labout></app-labout>
  <app-lprocess></app-lprocess>
  <!-- <section id="logo">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="../../../assets/images/5.png"
            alt="Random second slide"
            loading="lazy"
          />
        </div>
        <div
          class="carousel-caption left-middle-carusel text-left mb-4 animate__animated animate__slideInRight"
        >
          <h3 class="caption-heading font-montserrat" style="line-height: 1">
            Simplify Your Business <br />
            with B2B Direct
          </h3>
          <p style="color: black; font-size: large">
            We are a leading provider of logistics and e-commerce solutions for
            businesses of all sizes <br />
            Our comprehensive range of services includes 3PL, pick and pack,
            warehouse storage, and <br />
            product listing removal from online marketplaces for
            brand protection.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="../../../assets/images/7-1.png"
            alt="Random third slide"
            loading="lazy"
          />
        </div>
        <div
          class="carousel-caption right-middle-carousel-text text-left animate__animated animate__slideInLeft"
        >
          <h3 class="caption-heading font-montserrat" style="line-height: 1">
            Efficient, Effective, <br />
            and Secure
          </h3>
          <p class="font-montserrat text-black" style="font-size: large">
            Our inventory management system is designed to help businesses of
            <br />
            all sizes manage their inventory more efficiently
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="container mt-100 mb-100 d-flex justify-content-around">
      <div class="w-25 text-left">
        <div class="d-flex">
          <div class="me-3 my-auto">
            <mat-icon class="trans-scale-1-7 green-aqua">bar_chart</mat-icon>
          </div>
          <div class="flex-columm">
            <h4 class="m-0 font-montserrat" style="color: grey">
              Business Planning
            </h4>
            <h3 class="font-montserrat">Strategy and Execution</h3>
          </div>
        </div>
        <p>
          B2B Direct Business Planning offers customized planning services to
          help businesses succeed in B2B direct marketing. Our team of experts
          develops effective and efficient strategies based on market research,
          campaign development, sales funnel optimization, and analytics and
          reporting. We work closely with our clients to identify their target
          audience, develop marketing campaigns, and implement strategies that
          deliver results. Our commitment to exceptional service and results is
          evident in the regular analytics and reporting we provide to track the
          success of our clients' campaigns and make data-driven decisions for
          future planning.
        </p>
      </div>  
      <div class="w-25 text-left">
        <div class="d-flex">
          <div class="me-3 my-auto">
            <mat-icon class="trans-scale-1-7 green-aqua">trending_up</mat-icon>
          </div>
          <div class="flex-columm">
            <h4 class="m-0 font-montserrat" style="color: grey">
              Extremely Analysis
            </h4>
            <h3 class="font-montserrat">Financial Projections</h3>
          </div>
        </div>
        <p>
          B2B Direct Financial Projection provides businesses with accurate
          financial projections to help them make informed decisions about their
          future financial performance. Our team of financial experts creates
          customized projections based on the unique needs and goals of each
          client, using advanced financial modeling techniques to ensure
          accuracy. Our services include cash flow forecasting, profit and loss
          projections, balance sheet projections, and break-even analysis. We
          are committed to delivering reliable projections that help our clients
          achieve their financial goals. Contact us today to learn more.
        </p>
      </div>
      <div class="w-25 text-left">
        <div class="d-flex">
          <div class="me-3 my-auto">
            <mat-icon class="trans-scale-1-7 green-aqua">language</mat-icon>
          </div>
          <div class="flex-columm">
            <h4 class="m-0 font-montserrat" style="color: grey">
              Excellent Opportunities
            </h4>
            <h3 class="font-montserrat">International Business</h3>
          </div>
        </div>
        <p>
          B2B Direct International Business offers customized solutions for
          businesses operating in the global marketplace. Our team of experts
          works closely with international clients to navigate the complexities
          of cross-border commerce, including regulations, logistics, and
          cultural considerations. We offer services such as international
          market research, supply chain optimization, and cross-border payment
          solutions. Our goal is to help businesses expand their global reach
          and increase profitability in international markets. Contact us today
          to learn more about our international business solutions.
        </p>
      </div>
    </div>
  </section> -->
  <!-- <section id="about" class="mb-100">
      <div class="container-fluid" style="background-color: #f7f7f7">
        <div
          class="container"
          style="padding-top: 100px; padding-bottom: 100px"
        >
          <div class="row">
            <div class="col-6 px-4">
              <div class="mb-3">
                <button mat-raised-button style="background-color: #3ed6a2">
                  GET START NOW
                </button>
              </div>
              <div>
                <p
                  class="display-6 mb-4"
                  style="font-weight: 500; color: #374a8a"
                >
                  We are the partners in growth of your business!
                </p>
                <p class="mb-4">
                  At B2B Direct, we are committed to helping businesses succeed
                  in B2B direct marketing through our customized planning,
                  financial projection, and international business solutions. We
                  understand that every business is unique, which is why we
                  tailor our services to meet the specific needs and goals of
                  each client. Our team of experts has years of experience in
                  B2B direct marketing, financial analysis, and international
                  commerce. We are passionate about helping businesses succeed,
                  and we are committed to delivering exceptional service and
                  results. Contact us today to learn more about how we can help
                  your business grow and thrive in the competitive world of B2B
                  direct marketing.
                </p>

                <p class="mb-4">
                  We are passionate about helping businesses succeed, and we are
                  committed to delivering exceptional service and results.
                  Contact us today to learn more about how we can help your
                  business grow and thrive in the competitive world of B2B
                  direct marketing.
                </p>
                <p *ngIf="aboutUsReadmore" class="mb-4">
                  We bring a wealth of knowledge and expertise to each project
                  we undertake, and we work closely with our clients to develop
                  effective and efficient strategies that deliver results. We
                  pride ourselves on our commitment to exceptional service and
                  results. Our clients trust us to deliver accurate financial
                  projections, navigate the complexities of cross-border
                  commerce, and develop effective marketing campaigns that drive
                  sales and revenue. At B2B Direct, we believe in building
                  long-term relationships with our clients. We take the time to
                  understand their businesses and goals, and we work
                  collaboratively to develop strategies that help them achieve
                  success. Our regular analytics and reporting provide our
                  clients with valuable insights into the performance of their
                  marketing campaigns and financial projections, enabling them
                  to make data-driven decisions for future planning.
                </p>
                <p
                  (click)="aboutUsReadmore = false"
                  style="color: #374a8a; cursor: pointer; font-weight: 600"
                  *ngIf="aboutUsReadmore"
                >
                  show less
                </p>
              </div>
              <div *ngIf="!aboutUsReadmore">
                <a class="cta" (click)="aboutUsReadmore = true">
                  <span>Read more</span>
                  <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img
                  style="object-fit: contain; height: 500px"
                  src="../../../assets/images/apple.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid p-50" style="background-color: #374a8a">
        <div class="d-flex justify-content-center">
          <p class="h5 me-4" style="color: white">
            Unlock Your Business's Potential with B2B Direct
          </p>
          <div>
            <a class="cta-white">
              <span>Register today</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section> -->

  <!-- <section id="process" class="mb-100">
      <div class="container-fluid d-flex justify-content-around px-4 mb-100">
        <div class="d-flex px-4 w-25">
          <div class="flex-columm">
            <p class="display-6" style="font-weight: 600; color: lightgray">
              01.
            </p>
            <p style="font-size: large; color: black; font-weight: 400">
              In-Depth Analysis
            </p>
            <p>
              We start by conducting a comprehensive analysis of our clients'
              businesses and goals. We gather valuable insights into their
              industry, competition, and target audience to develop a customized
              strategy that is tailored to their specific needs.
            </p>
          </div>
        </div>
        <div class="d-flex px-4 w-25">
          <div class="flex-columm">
            <p class="display-6" style="font-weight: 600; color: lightgray">
              02.
            </p>
            <p style="font-size: large; color: black; font-weight: 400">
              Comprehensive Planning
            </p>
            <p>
              After having a deep understanding we develop a comprehensive plan
              that includes market research, campaign development, sales funnel
              optimization, and analytics and reporting. This plan serves as a
              roadmap for success, ensuring that our clients' campaigns are
              effective and efficient.
            </p>
          </div>
        </div>
        <div class="d-flex px-4 w-25">
          <div class="flex-columm">
            <p class="display-6" style="font-weight: 600; color: lightgray">
              03.
            </p>
            <p style="font-size: large; color: black; font-weight: 400">
              Implementation and Optimization
            </p>
            <p>
              We work closely with our clients to implement the plan, making
              adjustments as needed to ensure that it is delivering results. We
              provide regular analytics and reporting to track the success of
              our clients' campaigns and make data-driven decisions for future
              planning.
            </p>
          </div>
        </div>
        <div class="d-flex px-4 w-25">
          <div class="flex-columm">
            <p class="display-6" style="font-weight: 600; color: lightgray">
              04.
            </p>
            <p style="font-size: large; color: black; font-weight: 400">
              Continued Success
            </p>
            <p>
              We continue to work with our clients to ensure that their
              marketing and financial projection strategies are continuously
              optimized for success. Our goal is to help our clients achieve
              long-term success and unlock their full potential in the
              competitive world of B2B direct marketing.
            </p>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div class="parallex"></div>
        <div
          style="left: 0; right: 0"
          class="container-fluid d-flex flex-column justify-content-center text-center w-50 position-absolute top-0 bottom-0 left-0 right-0"
        >
          <p class="display-6 text-white" style="font-weight: 600">
            B2B Direct
          </p>
          <p class="text-white h3">
            Since our foundation our goal has been to use digital technology to
            create experiences.
          </p>
          <p class="text-white">
            B2B Direct has been providing reliable 3PL services, efficient pick
            and pack solutions, secure warehouse storage, and effective product
            listing removal for brand protection.
          </p>
        </div>
      </div>
    </section> -->

  <section id="services" class="mb-100 pt-50">
    <div class="container-fluid pb-50" style="background-color: #f7f7f7">
      <div
        class="container d-flex flex-column pt-50 justify-content-center w-50"
      >
        <p
          class="text-uppercase display-6 text-center"
          style="font-weight: 600"
        >
          Our services
        </p>
        <p>
          At B2B Direct Limited, we are committed to providing our clients with
          exceptional customer service and support. Our experienced logistics
          professionals are dedicated to ensuring that your supply chain runs
          smoothly and efficiently, so you can achieve your business goals.
        </p>
      </div>
      <div class="pb-50">
        <div class="ccccontainer">
          <div class="parent">
            <div class="card card1-img">
              <div class="content-box">
                <!-- <h1 class="card-title">Card Title</h1> -->
                <p class="card-content">
                  Our pick and pack services are tailored to meet your unique
                  business needs. We can customize our process to accommodate a
                  wide range of products, packaging requirements, and shipping
                  methods. We'll ensure that your orders are fulfilled
                  accurately and efficiently, so you can focus on growing your
                  business.
                </p>
                <!-- <span class="see-more">See More</span> -->
                <!-- <span class="see-more">See LESS</span> -->
              </div>
              <div class="date-box">
                <span class="month">Pick &</span>
                <span class="date">pack</span>
              </div>
            </div>
          </div>

          <div class="parent card2">
            <div class="card card2-img">
              <div class="content-box">
                <!-- <h1 class="card-title">Card Title</h1> -->
                <p class="card-content">
                  Our state-of-the-art warehouses are equipped with advanced
                  security measures, climate control, and fire suppression
                  systems to ensure that your products are stored in optimal
                  conditions. We offer both short-term and long-term storage
                  solutions, so you can scale your operations as needed
                </p>
                <!-- <span class="see-more">See More</span> -->
              </div>
              <div class="date-box">
                <span class="month">Warehouse </span>
                <span class="date">Storage</span>
              </div>
            </div>
          </div>

          <div class="parent card3">
            <div class="card card3-img">
              <div class="content-box">
                <!-- <h1 class="card-title">Card Title</h1> -->
                <p class="card-content">
                  Unauthorized sellers on online marketplaces can harm your
                  brand reputation and reduce customer trust. Our product
                  listing removal services can help protect your brand by
                  identifying and removing unauthorized sellers from
                  online marketplaces.
                </p>
                <!-- <span class="see-more">See More</span> -->
              </div>
              <div class="date-box">
                <span class="month">Product </span>
                <span class="date">Listing Removal</span>
              </div>
            </div>
          </div>

          <div class="parent card4">
            <div class="card card4-img">
              <div class="content-box">
                <!-- <h1 class="card-title">Card Title</h1> -->
                <p class="card-content">
                  Our 3PL services are designed to streamline your supply chain
                  and improve your operational efficiency. We can handle all
                  aspects of your logistics needs, from receiving and storing
                  inventory to packing and shipping orders. With our advanced
                  technology and experienced team, you can be confident that
                  your products will be handled with the utmost care and
                  delivered to your customers on time
                </p>
                <!-- <span class="see-more">See More</span> -->
              </div>
              <div class="date-box">
                <span class="month">Third-party</span>
                <span class="date">Logistics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="mb-100">
    <!-- <div class="mb-100">
      <div
        class="container d-flex flex-column pt-50 justify-content-center w-50 mb-50"
      >
        <p
          class="text-uppercase display-6 text-center"
          style="font-weight: 600"
        >
          Meet our team
        </p>
        <p>
          Get to know the passionate and dedicated team of professionals at B2B
          Direct who are committed to delivering exceptional service to our
          clients & customers
        </p>
      </div>
      <div class="container d-flex">
        <div class="container d-flex flex-column text-center px-4 w-25">
          <div class="people-img">
            <img
              style="height: 200px; width: 200px"
              src="../../../assets/images/test.png"
              alt=""
            />
          </div>
          <p class="people-name text-center" style="font-weight: 500">
            Andrew Lupkin
          </p>
          <p
            class="people-designation text-center pb-4 border-bottom border-dark"
            style="color: grey"
          >
            Founder and CEO
          </p>
          <div class="container icons d-flex flex-row justify-content-around">
            <mat-icon>facebook</mat-icon>
            <mat-icon>linkedin</mat-icon>
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <div class="container d-flex flex-column text-center px-4 w-25">
          <div class="people-img">
            <img
              style="height: 200px; width: 200px"
              src="../../../assets/images/test.png"
              alt=""
            />
          </div>
          <p class="people-name text-center" style="font-weight: 500">
            Andrew Lupkin
          </p>
          <p
            class="people-designation text-center pb-4 border-bottom border-dark"
            style="color: grey"
          >
            Founder and CEO
          </p>
          <div class="container icons d-flex flex-row justify-content-around">
            <mat-icon>facebook</mat-icon>
            <mat-icon>linkedin</mat-icon>
            <mat-icon>public</mat-icon>
          </div>
        </div>
        <div class="container d-flex flex-column text-center px-4 w-25">
          <div class="people-img">
            <img
              style="height: 200px; width: 200px"
              src="../../../assets/images/test.png"
              alt=""
            />
          </div>
          <p class="people-name text-center" style="font-weight: 500">
            Andrew Lupkin
          </p>
          <p
            class="people-designation text-center pb-4 border-bottom border-dark"
            style="color: grey"
          >
            Founder and CEO
          </p>
          <div class="container icons d-flex flex-row justify-content-around">
            <mat-icon>facebook</mat-icon>
            <mat-icon>linkedin</mat-icon>
            <mat-icon>public</mat-icon>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container-fluid" style="background-color: black">
      <div class="row">
        <div class="col-6 p-0">
          <img
            style="
              width: 100%;
              object-fit: cover;
              height: auto;
              min-height: 400px;
              max-height: 600px;
            "
            src="../../../assets/images/1.png"
            alt=""
          />
        </div>
        <div class="col-6 p-4" style="max-height: 550px">
          <div class="row border-bottom border-light mb-4">
            <div class="col-12">
              <p class="display-6 text-white" style="font-weight: 600">
                We're small but impressive.
              </p>
              <p class="h5 text-white">Experience the power of B2B Direct.</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 text-white d-flex flex-row justify-content-around"
            >
              <p
                style="cursor: pointer"
                [ngClass]="tabs.mission ? 'active-tab' : ''"
                (click)="changeTab('mission')"
              >
                Company mission
              </p>
              <p
                style="cursor: pointer"
                [ngClass]="tabs.whyUs ? 'active-tab' : ''"
                (click)="changeTab('whyUs')"
              >
                Why choose us
              </p>
              <p
                style="cursor: pointer"
                [ngClass]="tabs.promise ? 'active-tab' : ''"
                (click)="changeTab('promise')"
              >
                Our promise
              </p>
              <p
                style="cursor: pointer"
                [ngClass]="tabs.weDo ? 'active-tab' : ''"
                (click)="changeTab('weDo')"
              >
                Brand Protection
              </p>
            </div>
          </div>
          <div class="row">
            <div
              class="col text-white hscroll p-4"
              style="overflow-y: auto; height: 450px"
            >
              <ng-container *ngIf="tabs.mission">
                <p>
                  At B2B Direct, our mission is to provide innovative and
                  reliable 3PL solutions that help our clients succeed in their
                  businesses. We are committed to delivering exceptional
                  service, exceeding expectations, and building long-term
                  relationships based on trust and transparency.
                </p>
                <p>
                  Our mission is driven by our core values of integrity,
                  collaboration, and innovation. We believe that integrity is
                  the foundation of all business relationships, and we strive to
                  always act with honesty, transparency, and respect. We also
                  believe that collaboration is key to success, and we work
                  closely with our clients to understand their unique needs and
                  develop customized logistics solutions that help them achieve
                  their goals. Finally, we believe that innovation is essential
                  in a rapidly-evolving business environment, and we are always
                  seeking new and innovative ways to improve our services and
                  stay ahead of the competition.
                </p>
                <p>
                  Our goal is to be a trusted partner in our clients' success.
                  We understand that our clients rely on us to provide reliable,
                  efficient, and cost-effective logistics solutions, and we take
                  that responsibility very seriously. We are committed to
                  providing exceptional service that meets or exceeds our
                  clients' expectations, and we continuously strive to improve
                  our processes and services to better meet the evolving needs
                  of our clients.
                </p>
              </ng-container>
              <ng-container *ngIf="tabs.whyUs">
                <p>
                  At B2B Direct, we strive to provide exceptional services that
                  exceed our clients' expectations. Here are some reasons why
                  you should choose us:
                </p>
                <p>
                  Quality services: Our team consists of experienced
                  professionals who are committed to providing quality services
                  that meet your business needs. Competitive pricing: We offer
                  competitive pricing that is tailored to your budget, without
                  compromising on the quality of our services. Tailored
                  solutions: We understand that each business is unique, and we
                  provide tailored solutions that are specific to your business
                  needs. Transparency: We believe in transparent communication
                  and are committed to keeping our clients informed throughout
                  the entire process. Customer satisfaction: Our ultimate goal
                  is to ensure our clients' satisfaction. We are dedicated to
                  going above and beyond to ensure that our clients are happy
                  with our services. Reliability: We understand the importance
                  of deadlines and the impact they have on your business. We are
                  committed to meeting deadlines and delivering on our promises.
                  Technology-driven: We leverage technology to provide
                  innovative solutions that improve efficiency and productivity,
                  ensuring that your business stays ahead of the competition.
                </p>
                <p>
                  In summary, B2B Direct is committed to providing quality
                  services, tailored solutions, competitive pricing, and
                  transparent communication, all while prioritizing customer
                  satisfaction and reliability. With our experienced
                  professionals and technology-driven approach, we can help take
                  your business to the next level.
                </p>
              </ng-container>
              <ng-container *ngIf="tabs.promise">
                <p>
                  At B2B Direct, we believe in delivering exceptional service to
                  our clients, and we stand behind our commitment to excellence
                  with our promise. Our promise is based on three core values:
                  reliability, transparency, and accountability.
                </p>
                <p>
                  We promise to provide reliable and timely service to our
                  clients, ensuring that their needs are met efficiently and
                  effectively. We understand the importance of deadlines and the
                  impact that delays can have on a business, which is why we
                  make it our priority to deliver on time, every time.
                </p>
                <p>
                  We also promise transparency in all of our business dealings.
                  We believe in open and honest communication with our clients,
                  and we strive to provide clear and accurate information at all
                  times. Our clients can trust us to provide them with the
                  information they need to make informed decisions about their
                  business.
                </p>
                <p>
                  Finally, we promise accountability. We take responsibility for
                  our actions and are committed to making things right if we
                  ever fall short of our clients' expectations. We believe in
                  building strong and lasting relationships with our clients
                  based on trust and mutual respect, and we know that
                  accountability is a key part of that.
                </p>
                <p>
                  At B2B Direct, our promise is more than just words. It's a
                  commitment to our clients to provide them with the highest
                  level of service possible. We stand behind our promise and are
                  proud to deliver exceptional service to businesses
                  across industries.
                </p>
              </ng-container>
              <ng-container *ngIf="tabs.weDo">
                <p>
                  Brand protection involving B2B Direct Limited and one of their
                  clients:
                </p>
                <p>
                  Challenge: Ven-Dens. had recently discovered that their
                  products were being sold on an online marketplace by
                  unauthorized third-party sellers. These sellers were offering
                  products at significantly lower prices than those set by
                  Ven-Dens., which was hurting the brand's reputation and sales.
                  Additionally, these unauthorized sellers were not following
                  Ven-Dens.'s quality control standards, leading to negative
                  reviews and customer dissatisfaction.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci delectus nesciunt veritatis nisi, blanditiis facilis?
                  Natus libero quisquam, labore vero unde, distinctio numquam
                  laudantium accusantium veritatis nobis quae officiis ipsum!
                </p>
                <p>
                  Solution: Ven-Dens. turned to B2B Direct Limited, a provider
                  of logistics and e-commerce solutions, for assistance with
                  brand protection. B2B Direct Limited offered product listing
                  removal services that could identify and remove unauthorized
                  sellers from online marketplaces.
                </p>
                <p>
                  B2B Direct Limited's team of experts conducted a thorough
                  analysis of Ven-Dens's online marketplace listings to identify
                  unauthorized sellers. They then used advanced technology and
                  industry knowledge to remove the unauthorized listings from
                  the marketplace, protecting Ven-Dens's brand reputation and
                  ensuring that customers received high-quality products.
                </p>
                <p>
                  Results: With B2B Direct Limited's product listing removal
                  services, Ven-Dens. was able to protect their brand reputation
                  on the online marketplace. They saw a decrease in negative
                  reviews and customer complaints related to counterfeit or
                  low-quality products. Additionally, the removal of
                  unauthorized sellers allowed Ven-Dens. to regain control of
                  their product pricing and sales on the online marketplace,
                  leading to increased revenue and profitability.
                </p>
                <p>
                  Conclusion: By partnering with B2B Direct Limited for brand
                  protection, Ven-Dens. was able to effectively address the
                  challenge of unauthorized third-party sellers on an online
                  marketplace. B2B Direct Limited's product listing removal
                  services allowed them to protect their brand reputation,
                  maintain control over pricing and sales, and ultimately
                  increase revenue and profitability.
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="mb-100">
    <div class="testimonials-clean">
      <div class="container">
        <div class="intro">
          <h2
            class="text-uppercase text-center"
            style="font-weight: 600; font-size: 2.5rem !important"
          >
            Testimonials
          </h2>
          <p class="text-center">
            Our customers love us! Read what they have to say below. Aliquam sed
            justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.
          </p>
        </div>
        <div class="row people">
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">
                Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                finibus est.
              </p>
            </div>
            <div class="author">
              <img
                class="rounded-circle"
                src="https://i.imgur.com/nUNhspp.jpg"
                alt=""
              />
              <h5 class="name">Ben Johnson</h5>
              <p class="title">CEO of Company Inc.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">
                Praesent aliquam in tellus eu gravida. Aliquam varius finibus
                est, et interdum justo suscipit id.
              </p>
            </div>
            <div class="author">
              <img
                class="rounded-circle"
                src="https://i.imgur.com/o5uMfKo.jpg"
                alt=""
              />
              <h5 class="name">Carl Kent</h5>
              <p class="title">Founder of Style Co.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box">
              <p class="description">
                Aliquam varius finibus est, et interdum justo suscipit.
                Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam
                in tellus eu.
              </p>
            </div>
            <div class="author">
              <img
                class="rounded-circle"
                src="https://i.imgur.com/At1IG6H.png"
                alt=""
              />
              <h5 class="name">Emily Clark</h5>
              <p class="title">Owner of Creative Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section id="contact" class="mb-100 pt-50">
    <div class="container-fluid" style="background-color: #f7f7f7">
      <div class="p-50">
        <div class="row">
          <div
            class="col-6 border border-light rounded"
            style="background-color: white"
          >
            <div class="d-flex flex-column p-4 text-center">
              <p class="h4">Ready to Get Started?</p>
              <p class="h5">Contact us on WhatsApp</p>
              <textarea
                class="w-100 rounded p-2"
                [(ngModel)]="msg"
                rows="10"
              ></textarea>
              <div class="pt-2">
                <p>Send a message on WhatsApp</p>
                <a target="_blank" (click)="getHref()" [href]="href">
                  <img src="../../../assets/icon/whatsapp.gif" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="border-bottom border-dark pb-4">
              <p class="display-6">Looking For a Excellent Business Idea?</p>
              <!-- <p style="color: grey">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam asperiores animi debitis voluptatibus ab ea fugit,
                facere perferendis iusto, dolorem maxime quasi earum? Dolor fuga
                doloribus repudiandae optio explicabo sint.
              </p> -->
            </div>
            <div class="pt-4">
              <h4 style="font-weight: 500">Our Headquaters</h4>
              <p class="pb-2s">
                Challenge House, 616 Mitcham Road, <br />
                CR0 3AA, London
              </p>
              <p>+44 7411 455885</p>
              <a href="mailto:Sales@alvisfashion.co.uk"
                >Sales@alvisfashion.co.uk</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer
    class="pb-4 bg-white builder-bg footer-style8 padding-60px-tb xs-padding-40px-tb"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-sm-12 col-xs-12 sm-text-center sm-margin-five-bottom"
        >
          <a class="margin-eight-bottom display-inline-block inner-link">
            <img
              style="height: 60px"
              src="../../../../../../assets/images/logo.png"
              alt=""
            />
          </a>

          <div class="tz-text width-80 sm-width-100">
            <p class="no-margin-bottom">Experience the power of B2B Direct.</p>
          </div>
        </div>

        <div class="col text-center">
          <ul class="links" style="list-style: none">
            <li
              class="text-medium margin-seven-bottom font-weight-600 text-dark-gray tz-text xs-margin-one-half-bottom"
              style="font-weight: 600"
            >
              Company
            </li>
            <li (click)="gotoView('process')">
              <a class="tz-text text-medium-gray inner-link">About Us</a>
            </li>
            <li>
              <!-- <a class="tz-text text-medium-gray inner-link">Testimonials</a> -->
            </li>
            <li>
              <!-- <a class="tz-text text-medium-gray inner-link">FAQ's</a> -->
            </li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="links" style="list-style: none">
            <li
              class="text-medium margin-seven-bottom font-weight-600 text-dark-gray tz-text xs-margin-one-half-bottom"
              style="font-weight: 600"
            >
              Useful Links
            </li>
            <li (click)="gotoView('process')">
              <a class="tz-text text-medium-gray inner-link">Our process</a>
            </li>
            <li>
              <!-- <a class="tz-text text-medium-gray inner-link">People</a> -->
            </li>
          </ul>
        </div>
        <!-- <div
          class="col-md-2 col-sm-4 col-xs-12 xs-margin-nine-bottom xs-text-center"
        >
          <ul class="links" style="list-style: none">
            <li
              class="text-medium margin-seven-bottom font-weight-600 text-dark-gray tz-text xs-margin-one-half-bottom"
              style="font-weight: 600"
            >
              Follow Us
            </li>
            <li>
              <a class="tz-text text-medium-gray inner-link">Facebook</a>
            </li>
            <li>
              <a class="tz-text text-medium-gray inner-link">Twitter</a>
            </li>
            <li>
              <a class="tz-text text-medium-gray inner-link">Google Plus</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
</div>
<!-- </div> -->
