<app-lnavbar (callback)="gotoView($event)"></app-lnavbar>

<div style="padding-top: 68px" class="h-100 w-100">
  <app-lmain></app-lmain>
  <app-labout></app-labout>
  <app-lprocess></app-lprocess>
  <app-lservice></app-lservice>
  <app-lteam></app-lteam>
  <app-lcontact></app-lcontact>

  <footer
    class="pb-4 bg-white builder-bg footer-style8 padding-60px-tb xs-padding-40px-tb"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-sm-12 col-xs-12 sm-text-center sm-margin-five-bottom footer-content"
        >
          <a class="margin-eight-bottom display-inline-block inner-link">
            <img
              style="height: 60px"
              src="../../../../../../assets/images/logo.png"
              alt=""
            />
          </a>

          <div class="tz-text width-80 sm-width-100">
            <p class="no-margin-bottom">Experience the power of B2B Direct.</p>
          </div>
        </div>

        <div class="col text-center">
          <ul class="links" style="list-style: none">
            <li
              class="text-medium margin-seven-bottom font-weight-600 text-dark-gray tz-text xs-margin-one-half-bottom"
              style="font-weight: 600"
            >
              Company
            </li>
            <li (click)="gotoView('about')" style="cursor: pointer">
              <a class="tz-text text-medium-gray inner-link">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="links" style="list-style: none">
            <li
              class="text-medium margin-seven-bottom font-weight-600 text-dark-gray tz-text xs-margin-one-half-bottom"
              style="font-weight: 600"
            >
              Useful Links
            </li>
            <li (click)="gotoView('process')" style="cursor: pointer">
              <a class="tz-text text-medium-gray inner-link">Our process</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<ng-template #listingRemoval>
  <div>
    <div class="row mb-2">
      <div class="col-12">
        <mat-toolbar class="p-0 w-100 mat-toolbar">
          <mat-toolbar-row>
            <span>Listing removal</span>

            <div class="row flex-fill">
              <div class="d-flex justify-content-end">
                <app-button
                  class="mr-2"
                  [button]="buttons[0]"
                  (callBack)="buttonCallback(0)"
                ></app-button>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
          If your listing has been removed by us, please complete the form
          below. If there is a possibility, we will work together to reinstate
          your listing. Please don't relist the item unless the issue is
          resolved. Failure to comply may result in suspension or restriction of
          your account. Your cooperation is appreciated as we strive to maintain
          a fair and accurate marketplace for all users.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-input
          [lablel]="'Name'"
          [inputWidth]="'100%'"
          [value]="paypalForm.name"
          (callBack)="paypalForm.name = $event"
        ></app-input>
      </div>
      <div class="col-6">
        <app-input
          [lablel]="'Email'"
          [inputWidth]="'100%'"
          [value]="paypalForm.email"
          (callBack)="paypalForm.email = $event"
        ></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input
          [lablel]="'Marketplace name'"
          [inputWidth]="'100%'"
          [value]="paypalForm.marketplace"
          (callBack)="paypalForm.marketplace = $event"
        ></app-input>
      </div>
      <div class="col">
        <app-input
          [lablel]="'Product name'"
          [inputWidth]="'100%'"
          [value]="paypalForm.productName"
          (callBack)="paypalForm.productName = $event"
        ></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input
          [lablel]="'Product URL'"
          [inputWidth]="'100%'"
          [value]="paypalForm.productURL"
          (callBack)="paypalForm.productURL = $event"
        ></app-input>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-date-input
          [placeholder]="'Schedule meeting'"
          [value]="paypalForm.meeting"
          (callBack)="paypalForm.meeting = $event"
        ></app-date-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-textarea
          [rows]="5"
          [label]="'Additional comments'"
          [inputWidth]="'100%'"
          [value]="paypalForm.comment"
          (callBack)="paypalForm.comment = $event"
        ></app-textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Note : You need to pay 35£ to continue</p>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100">
      <button
        *ngIf="!isPaypalFormaValidated"
        class="btn btn-dark rounded-pill"
        (click)="buttonCallback(1)"
      >
        Continue to pay
      </button>
      <ngx-paypal [config]="payPalConfig" *ngIf="isPaypalFormaValidated">
      </ngx-paypal>
    </div>
  </div>
</ng-template>

<app-modal
  *ngIf="removalModal"
  [template_]="listingRemoval"
  (callback)="removalModal = false"
  [customHeight]="modalHeight"
  [customMaxHeight]="modalMaxHeight"
  [customWidth]="'50%'"
></app-modal>
