<div class="main-content">
  <div class="container-fluid">
    <div class="budgets row flex">
      <div class="col-md-7 flex">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon class="material-icons">local_parking</mat-icon>
            </div>
            <h4 class="card-title pull-left">
              {{ "Profile" }}
            </h4>
          </div>
          <hr />
          <div
            *ngIf="sharedService.userData$.value"
            class="card-body card-body-height"
          >
            <div class="row p-t-b-1 align-items-center">
              <div class="col-md-4">
                <app-label [label]="'Profile photo'"></app-label>
              </div>
              <div class="col">
                <div class="d-flex flex-row align-items-center">
                  <img
                    [src]="
                      !sharedService.userData$.value.avatar &&
                      fileToUpload == null
                        ? 'assets/images/dummy-profile.jpg'
                        : sharedService.userData$.value.avatar && !fileToUpload
                        ? appConstants.USER_IMAGE_URL +
                          sharedService.userData$.value.avatar
                        : sharedService.userData$.value.avatar
                    "
                    height="200"
                    alt="..."
                    style="object-fit: contain; width: 30%"
                    class="z-depth-2"
                  />
                  <img
                    class="p-2 icon-link icon-link-hover"
                    src="../../../../../../../../assets/icon/edit.svg"
                    alt=""
                    height="30"
                    (click)="openFileInput()"
                  />
                  <app-button
                    *ngIf="fileToUpload"
                    [button]="{ type: 'success', text: 'Upload' }"
                    class="d-flex justify-content-center mt-4"
                    (callBack)="uploadImage()"
                  ></app-button>
                </div>

                <input
                  type="file"
                  id="file"
                  style="display: none"
                  name="image"
                  accept="image/gif,image/jpeg,image/jpg,image/png"
                  data-original-title="upload photos"
                  (change)="checkFile($event)"
                />
              </div>
            </div>
            <div class="row p-t-b-1 align-items-center">
              <div class="col-md-4">
                <app-label [label]="'Email'"></app-label>
              </div>
              <div class="col-md-8">
                {{ sharedService.userData$.value.email }}
              </div>
            </div>
            <div class="row p-t-b-1 align-items-center">
              <div class="col-md-4">
                <app-label [label]="'Name'"></app-label>
              </div>
              <div class="col-md-8">
                {{ sharedService.userData$.value.firstName }}
                {{ sharedService.userData$.value.lastName }}
              </div>
            </div>

            <div class="row p-t-b-1 align-items-center">
              <div class="col-md-4">
                <app-label [label]="'Balance'"></app-label>
              </div>
              <div class="col-md-8">
                {{ sharedService.userData$.value.balance | number : "1.2-2" }}£
              </div>
            </div>

            <app-button
              [button]="buttons[0]"
              class="d-flex justify-content-end m-2"
              (callBack)="updatePasswordModal = true"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #updatePassword>
  <div>
    <div class="row mb-2">
      <div class="col-12">
        <mat-toolbar class="p-0 w-100 mat-toolbar">
          <mat-toolbar-row>
            <span>Update product quantity</span>

            <div class="row flex-fill">
              <div class="d-flex justify-content-end">
                <app-button
                  class="mr-2"
                  [button]="buttons[2]"
                  (callBack)="
                    updatePasswordModal = false; updatePasswordObj = {}
                  "
                ></app-button>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3 my-auto">
        <app-label [label]="'Current password'"></app-label>
      </div>
      <div class="col">
        <app-input
          [value]="updatePasswordObj.password"
          (callBack)="updatePasswordObj.password = $event"
          [type]="'password'"
          [password]="true"
        ></app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-3 my-auto">
        <app-label [label]="'New password'"></app-label>
      </div>
      <div class="col">
        <app-input
          [value]="updatePasswordObj.newPassword"
          (callBack)="updatePasswordObj.newPassword = $event"
          [type]="'password'"
          [password]="true"
        ></app-input>
      </div>
    </div>

    <div class="row">
      <div class="col-3 my-auto">
        <app-label [label]="'Confirm new password'"></app-label>
      </div>
      <div class="col">
        <app-input
          [value]="updatePasswordObj.confirmNewPassword"
          (callBack)="updatePasswordObj.confirmNewPassword = $event"
          [type]="'password'"
          [password]="true"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-end gap-1">
    <app-button
      [button]="buttons[1]"
      (callBack)="updateNewPassword()"
    ></app-button>
  </div>
</ng-template>

<app-modal
  *ngIf="updatePasswordModal"
  [template_]="updatePassword"
  (callback)="updatePasswordModal = false"
  [customHeight]="modalHeight"
  [customMaxHeight]="modalMaxHeight"
  [customWidth]="'45%'"
></app-modal>
