<div class="card">
  <div class="card-header card-header-primary card-header-icon">
    <div class="card-icon">
      <mat-icon class="material-icons">group</mat-icon>
    </div>
    <h4 class="card-title pull-left">
      {{ "Users" }}
    </h4>
  </div>
  <div class="card-body card-body-height">
    <div class="mt-4">
      <app-table
        [tableData]="tableData"
        [searchAppearence]="'fill'"
        (tableCallback)="tableCallback($event)"
        [selectedRowIndex]="0"
      >
      </app-table>
    </div>
  </div>
</div>
