.bridge-modal {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    padding: 50px 30px 30px 30px;
}

.close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
}