<mat-form-field
  [ngStyle]="{ width: inputWidth }"
  class="example-full-width"
  appearance="outline"
>
  <mat-label *ngIf="placeholder">{{ placeholder }}</mat-label>
  <input
    [ngClass]="{ disabled: disabled }"
    [disabled]="disabled"
    matInput
    readonly
    [(ngModel)]="value"
    (dateChange)="dateChange($event)"
    (click)="picker.open()"
    [matDatepicker]="picker"
    [min]="min"
    [max]="max"
    style="font-size: 14px"
  />

  <mat-icon
    *ngIf="reset && value"
    class="close-icon"
    matDatepickerToggleIcon
    (click)="resetPicker()"
    >clear</mat-icon
  >

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
