<div>
  <div class="col">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon class="material-icons">local_parking</mat-icon>
        </div>
        <h4 class="card-title pull-left">Order Upload & Listing</h4>
      </div>
      <hr />
      <div class="card-body card-body-height">
        <div class="mb-4">
          <p class="h6">
            Sample CSV for uploading the order
            <a
              href="assets/sampleFile/order_sample.csv"
              download="order_sample.csv"
              target="_blank"
              >sample file</a
            >
          </p>
        </div>
        <div
          class="d-flex justifu-content-around align-items-center gap-1 mb-4"
        >
          <input
            class="form-control"
            type="file"
            #formFile
            (change)="checkFile($event)"
            accept=".csv"
          />
          <app-button
            [button]="buttons[0]"
            [disabled]="!fileToUpload"
            (callBack)="uploadOrderListing()"
          ></app-button>
        </div>
        <div>
          <app-table
            [tableData]="tableData"
            [oderBy]="tableOrder"
            (tableCallback)="tableCallBack($event)"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
