$primary-blue: #3671ef;
$primary: #fbc02d;
$dark-blue: #0b2d6b;
$black: #14192e;
$white: #ffffff;
$gray-text: #8598ad;
$bg-blue: #f8fbff;
$outline: #e2ebfa;
$chips-blue: #f0f6ff;
$button-border: #adb5bd;
$bg-table-tags: #e8ecf6;
$pagination-active: #171f3a;
$pagination-de-active: #dee2e6;
$active-tag: #56d0b2;
$info: #d1ecf1;
$light: #fefefe;
$dark: #d6d8d9;
$end: #0b2d6b;
$pre-success: #886dff;
$success: #155724;
$deactive-tag: #adc5df;
$table-border: #f7f7fa;
$search-color: #aab7c6;
$calendar-bg: #d9e2f1;
$bg-chips: rgba(203, 224, 255, 0.5);
$yellow: #ffbe5b;
$grey: #adc5df;
$red: #f08678;
$bg-delete: rgba(240, 134, 120, 0.1);
$bg-grey: rgba(133, 152, 173, 0.1);
$bg-attached-file: rgba(226, 235, 250, 0.5);
$bg-inner-accordion: #fbfdff;
$bg-OM: #4969aa;
$bg-CC: #4981f8;
$bg-TM: #73a8f4;
$bg-w-account: rgba(115, 168, 244, 0.15);
$date-time-text: rgba(133, 152, 173, 0.7);
$tbp-text: rgba(20, 25, 46, 0.5);
$bg-TM: #73a8f4;
$bg-audience-widget: #eaf2fd;
$bg-icon-audience: rgba(54, 113, 239, 0.1);
$bg-countID: #f1f7ff;
$bg-ME: #d7ebfe;
$bg-queryData: #f1f3f5;
$bg-warning-tag: rgba(255, 190, 91, 0.1);
$bg-success-tag: rgba(86, 208, 178, 0.1);
$toggle-bg: rgba(133, 152, 173, 0.5);
$bg-product-image: #f3f9ff;
$bg-TMS-widget: #e9f2ff;