<div class="d-flex">
  <div
    class="flex-shrink sidebar me-4 d-none d-md-block d-xl-block d-xxl-block"
  >
    <div class="d-flex justify-content-center align-items-center h-100">
      <ng-container *ngIf="asClient">
        <div class="text-white text-wrap p-2">
          <p class="display-6">Register as Client</p>
          <p>
            Welcome to B2B Direct Limited Client Services. Our team of logistics
            professionals is dedicated to providing you with the best possible
            service and support to help you grow your business. We offer a wide
            range of services tailored to meet your unique needs, including:
          </p>
          <p>
            Pick and Pack: Our pick and pack services are designed to streamline
            your order fulfillment process. We use advanced technology to ensure
            accurate and efficient picking, packing, and shipping of your
            products, so you can focus on other aspects of your business.
          </p>
          <p>
            Warehouse Storage: Our state-of-the-art warehouse facilities offer
            secure and reliable storage for your products. We offer flexible
            storage solutions that cater to your unique requirements, whether
            you need short-term or long-term storage.
          </p>
          <p>
            Product Listing Removal: We understand the importance of protecting
            your brand's reputation, which is why we offer product listing
            removal services from marketplaces such as Amazon, eBay, and others.
          </p>
          <p>
            Product Listing Removal: We understand the importance of protecting
            your brand's reputation, which is why we offer product listing
            removal services from marketplaces such as Amazon, eBay, and others.
          </p>
          <p>
            To sign up for our client services, simply contact us using the form
            on our website. Our team will work with you to develop a custom
            logistics solution that meets your specific needs and helps you
            achieve your business goals. We look forward to working with you!
          </p>
        </div>
      </ng-container>
      <ng-container *ngIf="asCustomer">
        <div class="text-white text-wrap p-2">
          <p class="display-6">Register as Customer</p>
          <p>
            Welcome to B2B Direct Limited Customer Services. We offer a range of
            logistics solutions designed to help you grow your business and
            improve your bottom line. Our services include:
          </p>
          <p>
            3PL Service: Our 3PL services allow you to outsource your logistics
            operations, including pick and pack, storage, and shipping, to our
            team of experts. We handle everything from receiving your products
            to packing and shipping them to your customers, freeing up your time
            to focus on other aspects of your business.
          </p>
          <p>
            Pick and Pack: Our pick and pack services are designed to streamline
            your order fulfillment process. We can handle everything from
            receiving your products to picking, packing, and shipping them to
            your customers.
          </p>
          <p>
            Product Listing Removal: We understand the importance of protecting
            your brand's reputation, which is why we offer product listing
            removal services from marketplaces such as Amazon, eBay, and others.
          </p>
          <p>
            To sign up for our customer services, simply fill out the form on
            our website. Our team will work with you to develop a custom
            logistics solution that meets your specific needs and helps you
            achieve your business goals. We look forward to helping you simplify
            your logistics operations and optimize your supply chain management.
          </p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="p-4 w-100">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="shadow-2-strong card-registration">
            <div class="card-body p-4 p-md-5">
              <form [formGroup]="registerationForm">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Register as</mat-label>
                      <mat-select
                        formControlName="registerAsa"
                        (selectionChange)="changed($event)"
                      >
                        <mat-option
                          *ngFor="let item of registerAs"
                          [value]="item"
                        >
                          {{ item }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="firstName"
                        >First Name</label
                      >
                      <input
                        type="text"
                        id="firstName"
                        class="form-control form-control-lg"
                        formControlName="firstName"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          registerationFormValue['firstName'].invalid &&
                          (registerationFormValue['firstName'].dirty ||
                            registerationFormValue['firstName'].touched)
                        "
                        >First name is required</span
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Last Name</label>

                      <input
                        type="text"
                        id="lastName"
                        class="form-control form-control-lg"
                        formControlName="lastName"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          registerationFormValue['lastName'].invalid &&
                          (registerationFormValue['lastName'].dirty ||
                            registerationFormValue['lastName'].touched)
                        "
                        >Last name is required</span
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <label class="form-label">Password</label>
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        formControlName="password"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          registerationFormValue['password'].invalid &&
                          (registerationFormValue['password'].dirty ||
                            registerationFormValue['password'].touched)
                        "
                      >
                        <ul>
                          <li>Password is required.</li>
                          <li>Minimum length is 8.</li>
                          <li>Should be an alphanumeric.</li>
                          <li>Should include a special character.</li>
                        </ul>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <label class="form-label">Confirm password</label>
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        formControlName="confirmPassword"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          registerationFormValue['password'].value !==
                            registerationFormValue['confirmPassword'].value &&
                          (registerationFormValue['password'].dirty ||
                            registerationFormValue['password'].touched)
                        "
                      >
                        Password does not match
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>

                      <input
                        type="email"
                        id="emailAddress"
                        class="form-control form-control-lg"
                        formControlName="email"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          registerationFormValue['email'].invalid &&
                          (registerationFormValue['email'].dirty ||
                            registerationFormValue['email'].touched)
                        "
                      >
                        Email is required
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col d-flex justify-content-start">
                    <!-- Checkbox -->
                    <div class="form-check ps-0">
                      <mat-checkbox formControlName="isVat" color="primary">
                      </mat-checkbox>
                      <label class="form-check-label" for="form2Example31">
                        VAT Certified
                      </label>
                    </div>
                  </div>
                </div>

                <div class="pt-2">
                  <p>
                    By signing up you are accepting the
                    <a
                      style="
                        cursor: pointer;
                        color: blue;
                        text-decoration: underline;
                      "
                      routerLink="/terms-and-condition"
                      >Terms and Condition</a
                    >
                    and
                    <a
                      style="
                        cursor: pointer;
                        color: blue;
                        text-decoration: underline;
                      "
                      routerLink="/privacy-policy"
                      >Privacy Policy</a
                    >
                  </p>
                  <button
                    class="btn btn-primary btn"
                    (click)="registeration()"
                    [disabled]="!registerationForm.valid"
                  >
                    Sign up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
