<div
  *ngIf="buttons?.length || tableData?.showSearch || tableData?.showTableLabel"
  class="search-warpper"
  [ngClass]="{
    'd-flex': !tableData?.showTableLabel
  }"
>
  <div class="d-flex">
    <div *ngIf="tableData?.showTableLabel" class="my-auto">
      <app-label [label]="tableLabel"></app-label>
    </div>
    <div
      [ngStyle]="{
        'margin-left': tableData?.showTableLabel ? 'auto' : ''
      }"
    >
      <mat-form-field
        *ngIf="tableData?.showSearch"
        [appearance]="searchAppearence"
      >
        <input
          matInput
          *ngIf="tableData?.showSearch"
          type="search"
          [(ngModel)]="searchKey"
          (input)="searchClick($event)"
          placeholder="{{ 'Search' }} ..."
        />
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="buttons?.length">
    <app-button
      *ngFor="let button of buttons; index as i"
      class="mx-1"
      [button]="button"
      (callBack)="buttonClick(i)"
      [disabled]="button.disabled ? true : false"
    ></app-button>
  </div>
</div>

<div>
  <div class="table">
    <table
      class="table-bordered custom-table hover"
      aria-describedby="tableHeader"
    >
      <thead class="table-head">
        <tr class="table-head-row">
          <th *ngIf="isNested"></th>
          <th
            class="th-class"
            *ngFor="let element of tableData?.tableHeader; index as i"
            [ngClass]="{
              'text-center': element.alignCenter,
              'cursor-pointer': element.sortable
            }"
            (click)="element.sortable ? sortCol(element, i) : ''"
          >
            <div
              class="d-flex justify-content-between align-items-center align-self-center text-nowrap"
            >
              <div>{{ element.text }}</div>
              <div class="sort">
                <img
                  class="sort-image"
                  *ngIf="element.sortable"
                  [ngClass]="{
                    'sort-active':
                      order == appConstants.ASC && selectedIndex == i,
                    'sort-inactive':
                      order != appConstants.ASC || selectedIndex != i
                  }"
                  src="assets/icon/down-sort.svg"
                  alt=""
                />
                <img
                  class="sort-image"
                  *ngIf="element.sortable"
                  [ngClass]="{
                    'sort-active':
                      order == appConstants.DEC && selectedIndex == i,
                    'sort-inactive':
                      order != appConstants.DEC || selectedIndex != i
                  }"
                  src="assets/icon/up-sort.svg"
                  alt=""
                />
              </div>
            </div>
          </th>

          <th *ngIf="tableData?.showActions" class="text-center">
            {{ "Action" }}
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <ng-container *ngFor="let row of queriedData; index as i">
          <tr
            class="table-body-row"
            [ngClass]="{ active_row: selectedRow.includes(i) }"
          >
            <td *ngIf="isNested">
              <ng-container
                *ngIf="
                  row?.[tableData!.nestedTableBodyField] &&
                  row?.[tableData!.nestedTableBodyField]?.length
                "
              >
                <a
                  class="expand-row"
                  *ngIf="!hideme[i]"
                  (click)="$event.stopPropagation(); expandRow(i)"
                >
                  <button class="button-add-minus add-btn" role="button">
                    <img width="10px" src="assets/icons/plus.svg" alt="" />
                  </button>
                </a>
                <a
                  class="expand-row"
                  *ngIf="hideme[i]"
                  (click)="$event.stopPropagation(); hideme[i] = !hideme[i]"
                >
                  <button class="button-add-minus minus-btn" role="button">
                    <img width="10px" src="assets/icons/minus.svg" alt="" />
                  </button>
                </a>
              </ng-container>
            </td>
            <td
              *ngFor="let element of tableData?.tableHeader"
              [ngClass]="{ 'text-center': element.alignCenter }"
              [ngStyle]="{ 'min-width': element?.minWidth }"
              (click)="tableClick(appConstants.SELECT, row, i)"
            >
              <div
                [ngClass]="{ 'text-end': element.alignEnd }"
                [ngStyle]="{ 'white-space': element.whiteSpace }"
                *ngIf="element.type === appConstants.TEXT"
              >
                {{
                  element.subField1 && element.subField
                    ? row?.[element.field]?.[element.subField]?.[element.subField1]
                    : element.subField
                    ? row?.[element.field]?.[element.subField]
                    : row?.[element.field]
                }}
              </div>
              <div
                [ngClass]="{ 'text-end': element.alignEnd }"
                [ngStyle]="{ 'white-space': element.whiteSpace }"
                *ngIf="element.type === appConstants.COLORSPOT"
              >
                <div class="d-flex">
                  <div class="m-l-1">
                    <div
                      class="color-spot-circle"
                      [ngStyle]="{'background-color' : row?.[element.field] ? row?.[element.field] : 'white'}"
                    ></div>
                  </div>
                  <div class="m-l-2">
                    {{
                      row?.[element.field]
                    }}
                  </div>
                </div>
              </div>
              <div *ngIf="element.type === appConstants.INPUT">
                <app-input
                  [appearance]="'fill'"
                  [value]="element.subField1 && element.subField
                ? row?.[element.field]?.[element.subField]?.[element.subField1]
                : element.subField
                ? row?.[element.field]?.[element.subField]
                : row?.[element.field] "
                  (callBack)="inputCallback(element.field, $event, row, i)"
                  [disabled]="element.disabled!"
                  [blur]="element.inputBlur!"
                  (click)="$event.stopPropagation()"
                ></app-input>
              </div>
              <div *ngIf="element.type === appConstants.TEXT_ARRAY">
                <div
                  *ngFor="let item of  element.subField1 && element.subField
                ? row?.[element.field]?.[element.subField]?.[element.subField1]
                : element.subField
                ? row?.[element.field]?.[element.subField]
                : row?.[element.field] 
                "
                >
                  {{  item?.[element.arrayField!] }}
                  <br />
                </div>
              </div>
              <div *ngIf="element.type === appConstants.ADD">
                {{ row[element.field] }}
              </div>
              <div *ngIf="element.type === appConstants.INDEX">
                {{
                  doPaginate
                    ? paginator!.pageIndex * paginator!.pageSize + (i + 1)
                    : i + 1
                }}
              </div>
              <div *ngIf="element.type === appConstants.CHECKBOX">
                <app-checkbox
                  [id]="i + '-' + row[element.field]"
                  [value]="row[element.field]"
                  [disabled]="element.disabled ? true : false"
                  (callBack)="checkboxCallback(element.field, $event, row, i)"
                  (click)="$event.stopPropagation()"
                >
                </app-checkbox>
              </div>
              <div *ngIf="element.type === 'toggle'">
                <app-toggle
                  [id]="i + '-' + row[element.field]"
                  [checked]="row[element.field]"
                  [disabled]="element.disabled"
                  (callBack)="toggleCallback(element.field, $event, row, i)"
                  (click)="$event.stopPropagation()"
                >
                </app-toggle>
              </div>
              <div
                style="margin: -6px 0px"
                *ngIf="element.type === 'heading-and-email'"
              >
                <h6>{{ row[element.field]?.heading }}</h6>
                <label class="h6-email">{{ row[element.field]?.email }}</label>
              </div>
              <div
                [ngClass]="{ 'text-end': element.alignEnd }"
                *ngIf="element.type === appConstants.NUMBER"
              >
                {{
                  element.subField
                    ? (row[element.field][element.subField]
                      | number : (element.isDeciaml ? "1.2-2" : "1.0-0"))
                    : (row[element.field]
                      | number : (element.isDeciaml ? "1.2-2" : "1.0-0"))
                }}
              </div>
              <div
                [ngClass]="{ 'text-end': element.alignEnd }"
                *ngIf="element.type === appConstants.NUMBER_FIXED"
              >
                {{
                  element.subField
                    ? utilities.fixedDecimalsWithOutrounding(
                        row[element.field][element.subField]
                      )
                    : utilities.fixedDecimalsWithOutrounding(row[element.field])
                }}
              </div>
              <div *ngIf="element.type === appConstants.BADGE">
                <span
                  *ngIf="row[element.field]"
                  class="badge badge-pill badge-success"
                  >{{ "Yes" }}</span
                >
                <span
                  *ngIf="!row[element.field]"
                  class="badge badge-pill badge-danger"
                  >{{ "No" }}</span
                >
              </div>
              <div *ngIf="element.type === appConstants.TAG">
                <span class="inner-tag">{{ row[element.field] }}</span>
              </div>
              <div
                class="white-space-nowrap"
                [ngStyle]="{
                  width: element.width ? element.width : 'auto'
                }"
                *ngIf="element.type === appConstants.TAG_ARRAY"
              >
                <span
                  class="inner-tag"
                  *ngFor="let item of row[element.field]"
                  >{{ item[element.field] }}</span
                >
              </div>
              <div *ngIf="element.type === appConstants.DATE">
                {{ row?.[element.field] ?  utilities.convertToDateTime(row[element.field]) : '' }}
              </div>
              <div *ngIf="element.type === appConstants.STATUS">
                <span
                  [ngStyle]="{
                    width: element.width ? element.width : 'auto'
                  }"
                  class="bridge bridge-{{ row[element.field].type }}"
                  >{{ row[element.field].text }}</span
                >
              </div>
            </td>
            <td *ngIf="tableData?.showActions">
              <div class="d-flex justify-content-center">
                <div *ngIf="row.tableActions?.showHand">
                  <span
                    (click)="
                      actionCallbackButton(
                        appConstants.HAND_RAISE,
                        $event,
                        row,
                        i
                      )
                    "
                    class="material-icons me-2"
                    >front_hand</span
                  >
                </div>
                <div *ngIf="row.tableActions?.canEdit">
                  <mat-icon
                    (click)="
                      actionCallbackButton(appConstants.EDIT, $event, row, i)
                    "
                    class="material-icons me-2"
                    >edit</mat-icon
                  >
                </div>
                <div *ngIf="row.tableActions?.showCheck">
                  <span
                    (click)="
                      actionCallbackButton(appConstants.CHECK, $event, row, i)
                    "
                    class="material-icons me-2"
                    >check_box</span
                  >
                </div>
                <div *ngIf="row.tableActions?.canAdd">
                  <span
                    (click)="
                      actionCallbackButton(appConstants.ADD, $event, row, i)
                    "
                    class="material-icons"
                    >add</span
                  >
                </div>
                <div *ngIf="row.tableActions?.canView">
                  <mat-icon
                    (click)="
                      actionCallbackButton(appConstants.VIEW, $event, row, i)
                    "
                    class="material-icons ms-3"
                    >visibility</mat-icon>
                </div>
                <div *ngIf="row.tableActions?.canDelete">
                  <span
                    (click)="
                      actionCallbackButton(appConstants.DELETE, $event, row, i)
                    "
                    class="material-icons"
                    >delete</span
                  >
                </div>
                <div *ngIf="row.tableActions?.canApprove">
                  <mat-icon
                    title="Approve"
                    style="color: green"
                    (click)="
                      actionCallbackButton(appConstants.APPROVE, $event, row, i)
                    "
                    class="material-icons"
                    >check</mat-icon
                  >
                </div>
                <div *ngIf="row.tableActions?.canReject">
                  <mat-icon
                    title="Reject"
                    style="color: red"
                    (click)="
                      actionCallbackButton(appConstants.REJECT, $event, row, i)
                    "
                    class="material-icons"
                    >close</mat-icon
                  >
                </div>
                <div *ngIf="row.tableActions?.canComment">
                  <mat-icon
                    title="Comment"
                    (click)="
                      actionCallbackButton(appConstants.COMMENT, $event, row, i)
                    "
                    class="material-icons"
                    >chat_bubble</mat-icon
                  >
                </div>

                <div *ngIf="row.tableActions?.canDownload">
                  <mat-icon
                    (click)="
                      actionCallbackButton(
                        appConstants.DOWNLOAD,
                        $event,
                        row,
                        i
                      )
                    "
                    class="material-icons"
                    >download</mat-icon
                  >
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tbody *ngIf="!queriedData?.length" class="table-body">
        <tr>
          <td *ngIf="isNested"></td>
          <td
            [attr.colspan]="tableData?.tableHeader?.length"
            class="no-data-available"
          >
            No data Available!
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [ngStyle]="{ visibility: doPaginate ? 'visible' : 'hidden' }">
    <mat-paginator
      [id]="'pagg'"
      [length]="!isSearching ? totalLength : searchedLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="tablePagination($event)"
    >
    </mat-paginator>
  </div>
</div>
