<section class="w-100" id="logo">
  <ngb-carousel class="w-100">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'../../../assets/images/5.png'" alt="slide" />
      </div>
      <div
        class="carousel-caption left-middle-carusel text-left mb-4 animate__animated animate__slideInRight"
      >
        <h3 class="caption-heading font-montserrat" style="line-height: 1">
          Simplify Your Business <br />
          with B2B Direct
        </h3>
        <p style="color: black; font-size: large">
          We are a leading provider of logistics and e-commerce solutions for
          businesses of all sizes <br />
          Our comprehensive range of services includes 3PL, pick and pack,
          warehouse storage, and <br />
          product listing removal from online marketplaces for brand protection.
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="'../../../assets/images/7-1.png'" alt="slide" />
      </div>
      <div
        class="carousel-caption right-middle-carousel-text text-left animate__animated animate__slideInLeft"
      >
        <h3 class="caption-heading font-montserrat" style="line-height: 1">
          Efficient, Effective, <br />
          and Secure
        </h3>
        <p class="font-montserrat text-black" style="font-size: large">
          Our inventory management system is designed to help businesses of
          <br />
          all sizes manage their inventory more efficiently
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container pt-100 pb-100 d-flex justify-content-around">
    <div class="w-25 text-left">
      <div class="d-flex">
        <div class="me-3 my-auto">
          <mat-icon class="trans-scale-1-7 green-aqua">bar_chart</mat-icon>
        </div>
        <div class="flex-columm">
          <h4 class="m-0 font-montserrat" style="color: grey">
            Business Planning
          </h4>
          <h3 class="font-montserrat">Strategy and Execution</h3>
        </div>
      </div>
      <p>
        B2B Direct Business Planning offers customized planning services to help
        businesses succeed in B2B direct marketing. Our team of experts develops
        effective and efficient strategies based on market research, campaign
        development, sales funnel optimization, and analytics and reporting. We
        work closely with our clients to identify their target audience, develop
        marketing campaigns, and implement strategies that deliver results. Our
        commitment to exceptional service and results is evident in the regular
        analytics and reporting we provide to track the success of our clients'
        campaigns and make data-driven decisions for future planning.
      </p>
    </div>
    <div class="w-25 text-left">
      <div class="d-flex">
        <div class="me-3 my-auto">
          <mat-icon class="trans-scale-1-7 green-aqua">trending_up</mat-icon>
        </div>
        <div class="flex-columm">
          <h4 class="m-0 font-montserrat" style="color: grey">
            Extremely Analysis
          </h4>
          <h3 class="font-montserrat">Financial Projections</h3>
        </div>
      </div>
      <p>
        B2B Direct Financial Projection provides businesses with accurate
        financial projections to help them make informed decisions about their
        future financial performance. Our team of financial experts creates
        customized projections based on the unique needs and goals of each
        client, using advanced financial modeling techniques to ensure accuracy.
        Our services include cash flow forecasting, profit and loss projections,
        balance sheet projections, and break-even analysis. We are committed to
        delivering reliable projections that help our clients achieve their
        financial goals. Contact us today to learn more.
      </p>
    </div>
    <div class="w-25 text-left">
      <div class="d-flex">
        <div class="me-3 my-auto">
          <mat-icon class="trans-scale-1-7 green-aqua">language</mat-icon>
        </div>
        <div class="flex-columm">
          <h4 class="m-0 font-montserrat" style="color: grey">
            Excellent Opportunities
          </h4>
          <h3 class="font-montserrat">International Business</h3>
        </div>
      </div>
      <p>
        B2B Direct International Business offers customized solutions for
        businesses operating in the global marketplace. Our team of experts
        works closely with international clients to navigate the complexities of
        cross-border commerce, including regulations, logistics, and cultural
        considerations. We offer services such as international market research,
        supply chain optimization, and cross-border payment solutions. Our goal
        is to help businesses expand their global reach and increase
        profitability in international markets. Contact us today to learn more
        about our international business solutions.
      </p>
    </div>
  </div>
</section>
