<section id="process" class="w-100 pb-100 pt-100">
  <div class="container-fluid d-flex justify-content-around px-4 pb-100">
    <div class="row">
      <div class="d-flex px-4 col-sm-6 col-md-6 col-lg-3 col-xs-12">
        <div class="flex-columm">
          <p class="display-6" style="font-weight: 600; color: lightgray">
            01.
          </p>
          <p style="font-size: large; color: black; font-weight: 400">
            In-Depth Analysis
          </p>
          <p>
            We start by conducting a comprehensive analysis of our clients'
            businesses and goals. We gather valuable insights into their
            industry, competition, and target audience to develop a customized
            strategy that is tailored to their specific needs.
          </p>
        </div>
      </div>
      <div class="d-flex px-4 col-sm-6 col-md-6 col-lg-3 col-xs-12">
        <div class="flex-columm">
          <p class="display-6" style="font-weight: 600; color: lightgray">
            02.
          </p>
          <p style="font-size: large; color: black; font-weight: 400">
            Comprehensive Planning
          </p>
          <p>
            After having a deep understanding we develop a comprehensive plan
            that includes market research, campaign development, sales funnel
            optimization, and analytics and reporting. This plan serves as a
            roadmap for success, ensuring that our clients' campaigns are
            effective and efficient.
          </p>
        </div>
      </div>
      <div class="d-flex px-4 col-sm-6 col-md-6 col-lg-3 col-xs-12">
        <div class="flex-columm">
          <p class="display-6" style="font-weight: 600; color: lightgray">
            03.
          </p>
          <p style="font-size: large; color: black; font-weight: 400">
            Implementation and Optimization
          </p>
          <p>
            We work closely with our clients to implement the plan, making
            adjustments as needed to ensure that it is delivering results. We
            provide regular analytics and reporting to track the success of our
            clients' campaigns and make data-driven decisions for future
            planning.
          </p>
        </div>
      </div>
      <div class="d-flex px-4 col-sm-6 col-md-6 col-lg-3 col-xs-12">
        <div class="flex-columm">
          <p class="display-6" style="font-weight: 600; color: lightgray">
            04.
          </p>
          <p style="font-size: large; color: black; font-weight: 400">
            Continued Success
          </p>
          <p>
            We continue to work with our clients to ensure that their marketing
            and financial projection strategies are continuously optimized for
            success. Our goal is to help our clients achieve long-term success
            and unlock their full potential in the competitive world of B2B
            direct marketing.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <video
      height="300"
      src="../../../../../../assets/images/video.mp4"
      autoplay
    ></video>
  </div> -->

  <div class="position-relative b2b-goal-section-wrapper">
    <div class="parallex"></div>
    <div
      style="left: 0; right: 0"
      class="b2b-goal-section container-fluid d-flex flex-column justify-content-center text-center position-absolute top-0 bottom-0 left-0 right-0"
    >
      <p class="display-6 text-white" style="font-weight: 600">B2B Direct</p>
      <p class="text-white h3">
        Since our foundation our goal has been to use digital technology to
        create experiences.
      </p>
      <p class="text-white">
        B2B Direct has been providing reliable 3PL services, efficient pick and
        pack solutions, secure warehouse storage, and effective product listing
        removal for brand protection.
      </p>
    </div>
  </div>
</section>
